@page "/products"
@inject HttpClient HttpClient
@using Labb2_Shared.Models;

<h3>ProductList</h3>

@if (products == null)
{
    <p><em>Loading....</em></p>
}
else
{
    <ul>
        @foreach (var product in products)
        {
            <li>@product.ProductName - @product.Price</li>
        }
    </ul>
}

@code {
    private List<Product> products;

    protected override async Task OnInitializedAsync()
    {
        products = await HttpClient.GetFromJsonAsync<List<Product>>("products");
    }
}

